.counter-holder {
  grid-area: c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: auto;
  width: 100px;
}

.counter {
  display: flex;
  justify-content: space-between;
  width: 100px;
  max-height: 46px;
  padding: 0;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #e5e6e1;
  color: #22262a;
  border-radius: 17px 17px 0 0;
}

.counter button {
  border-color: #e5e6e1;
  border: 0;
  background-color: #e5e6e1;
  color: #8c3c19;
  padding: 0;
  width: 40px;
  font-size: 20px;
  border-radius: 17px;
  cursor: pointer;
}

.ctr-go {
  border-color: #e5e6e1;
  border: 0;
  color: #e5e6e1;
  background-color: #8c3c19;
  padding: 0;
  width: 100px;
  height: 30px;
  font-size: 14px;
  border-radius: 0 0 17px 17px;
}

.ctr-go:hover {
  background-color: #dda019;
  color: #8c3c19;
  cursor: pointer;
  border-color: #dda019;
}
